<!-- 
	File:  	aruco_overlay.launch
	Desc:	Launch file to spawn needed nodes for live aruoco overlay tracking with the
			Intel Realsense D4XX camera
	Date:	Dec. 2019
	Auth:	Scott Nortman, scott@mainstreamrobotics.com
	Note:

	Example Usage:

	$ roslaunch aruco_overlay aruco_overlay.launch
-->


<launch>
	<arg name="Realsense" value="true" />
	<arg name="ArucoDetect" value="true" />
	<arg name="ArucoOverlay" value="true" />
	<arg name="LiveVideo" value="true" />
	<arg name="StereoVideo" value="true"/>

	<group if="$(arg Realsense)" >
		<include file="$(find realsense2_camera)/launch/rs_infra.launch" >
			<arg name="infra_width" value="1280" />
			<arg name="infra_height" value="720" />
			<arg name="infra_fps" value="15" />
		</include>
		<!-- Call bash script to set needed dynamic parameters; place in the 'scripts' folder -->
		<node name="realsense_set" pkg="aruco_overlay" type="realsense_stereo_setup.sh" required="false" />
	</group>

	<!-- Aruco detector on image 1 -->
	<group if="$(arg ArucoDetect)">
		<remap from="fiducial_vertices" to="fiducial_vertices1" />
		<remap from="fiducial_transforms" to="fiducial_transforms1" />
		<include file="$(find aruco_detect)/launch/aruco_detect.launch" >
			<arg name="camera" value="camera/infra1" />
			<arg name="image" value="image_rect_raw" />
			<arg name="fiducial_len" value="0.1" />
			<arg name="dictionary" value="0" />
			<arg name="node_name" value="aruco_detect1" />
		</include> 
	</group>

	<!-- Aruco detector for image 2 -->
	<group if="$(arg ArucoDetect)">
		<remap from="fiducial_vertices" to="fiducial_vertices2" />
		<remap from="fiducial_transforms" to="fiducial_transforms2" />
		<include file="$(find aruco_detect)/launch/aruco_detect.launch" >
			<arg name="camera" value="camera/infra2" />
			<arg name="image" value="image_rect_raw" />
			<arg name="fiducial_len" value="0.1" />
			<arg name="dictionary" value="0" />
			<arg name="node_name" value="aruco_detect2" />
		</include>
	</group>


	<!-- Draw overlay on image 1 -->
	<group if="$(arg ArucoOverlay)">
		<node name="aruco_overlay_node1" pkg="aruco_overlay" type="aruco_overlay.py" required="true" output="screen" 
			args="-n aruco_overlay1 -i /camera/infra1/image_rect_raw -c /camera/infra1/camera_info -t /fiducial_transforms1 -v /fiducial_vertices1"/>
	</group>

	<!-- Draw overlay on image 2 -->
	<group if="$(arg ArucoOverlay)">
		<node name="aruco_overlay_node2" pkg="aruco_overlay" type="aruco_overlay.py" required="true" output="screen" 
			args="-n aruco_overlay2 -i /camera/infra2/image_rect_raw -c /camera/infra2/camera_info -t /fiducial_transforms2 -v /fiducial_vertices2"/>
	</group>

	<!-- Set up dual single image viewers -->
	<group if="$(arg LiveVideo)" >
		<node name="aruco_overlay_image1" pkg="rqt_image_view" type="rqt_image_view" args="/aruco_overlay1/annotated_image_raw"/>
	</group>
	<group if="$(arg LiveVideo)" >
		<node name="aruco_overlay_image2" pkg="rqt_image_view" type="rqt_image_view" args="/aruco_overlay2/annotated_image_raw"/>
	</group>

</launch>