<!-- 
	File:  	aruco_overlay.launch
	Desc:	Launch file to spawn needed nodes for live aruoco overlay tracking with the
			Intel Realsense D415 camera
	Date:	Dec. 2019
	Auth:	Scott Nortman, scott@mainstreamrobotics.com
	Note:

	Example Usage:

	$ roslaunch aruco_overlay aruco_overlay.launch

	TODO:  add a bash shell call to set realsense camera parameters:

		rosrun dynamic_reconfigure dynparam set /camera/stereo_module \
			"{	'exposure': 30000,				\
				'gain' : 225,					\
				'visual_preset' : 0,			\
				'frames_queue_size' : 8,		\
				'laser_power' : 0.0,			\
				'inter_cam_sync_mode' : 0.0,	\
				'enable_auto_exposure' : 0,		\
				'enable_auto_white_balance' : 1,\
				'error_polling_enabled' : 1,	\
				'output_trigger_enabled' : 0,	\
				'global_time_enabled' : 1 		\
			}"
-->


<launch>
	<arg name="Realsense" value="true" />
	<arg name="ArucoDetect" value="true" />
	<arg name="ArucoOverlay" value="true" />
	<arg name="LiveVideo" value="true" />

	<group if="$(arg Realsense)" >
		<include file="$(find realsense2_camera)/launch/rs_infra.launch" >
			<arg name="infra_width" value="1280" />
			<arg name="infra_height" value="720" />
			<arg name="infra_fps" value="15" />
		</include>
	</group>

	<group if="$(arg ArucoDetect)">
		<include file="$(find aruco_detect)/launch/aruco_detect.launch" >
			<arg name="camera" value="camera/infra1" />
			<arg name="image" value="image_rect_raw" />
			<arg name="fiducial_len" value="0.1" />
			<arg name="dictionary" value="0" />
		</include>
	</group>

	<group if="$(arg ArucoOverlay)">
		<node name="aruco_overlay_node" pkg="aruco_overlay" type="aruco_overlay.py" required="true" output="screen" />
	</group>

	<group if="$(arg LiveVideo)" >
		<node name="aruco_overlay_image" pkg="rqt_image_view" type="rqt_image_view" args="/aruco_overlay/annotated_image_raw"/>
	</group>


<!-- <node name="this_node_name" pkg="this_package_name" type="python_script.py" args="arg1 arg2 argn" respawn="false" required = "true" output="screen" /> -->

</launch>